.black-box {
    background-color: black;
    width: 130px;
    

}

.light {
    border-radius: 50%;
    background-color: white;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;

}

.pole {
    width: 20px;
    height: 60px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.shine {
    box-shadow: 0px 0px 40px 20px rgb(176, 204, 202);

}